@font-face {
    font-family: pattaya;
    src: url(./asset/fonts/pattaya-regular-webfont.woff2) format('woff2'),
         url(./asset/fonts/pattaya-regular-webfont.woff) format('woff');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* outline: 1px solid red; */
}
:root{
    --primary : #fff8f6;
    --secondary : #FFE8E1;
    --tertiary : #393636;
}
body{
    display: grid;
    height: 100vh;
    grid-template: 1fr / auto 1fr;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
    background-color: var(--primary);
    border-right: 1px solid var(--tertiary);
}
.sidebar>header{
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: pattaya;
}
.project-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.project-container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.project-container-title>div:first-child{
    font-size: 1.3rem;
    font-weight: 600;
}
.add-project{
    min-width: 25px;
    min-height: 25px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid var(--tertiary);
    background-color: white;
    background-image: url(./asset/icons/plus.svg);
}
.project{
    text-align: left;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: white;
    border: 0.5px solid var(--tertiary);
    color: var(--tertiary);
    cursor: pointer;
}
.project:hover, .add-project:hover{
    background-color: var(--secondary);
    border: none;
    font-weight: 800;
    outline: 2px solid var(--tertiary);
}
.add-project:active{
    background-color: var(--primary);
    outline: 0.5px solid var(--tertiary);
}
.project:active{
    border: none;
    outline: 0.5px solid var(--tertiary);
}

.content{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}
.project-controls{
    height: 30px;
    text-align: right;
}
.project-controls button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
.project-info{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-info>header{
    font-size: 3rem;
}
.project-info>div{
    color: var(--tertiary);
    padding-left: 2px;
}
.delete-project{
    margin-left: 10px;
    background-image: url(./asset/icons/delete-outline.svg);
}
.edit-project{
    background-image: url(./asset/icons/pencil-outline.svg);
}
.delete-project, .edit-project{
    border: none;
    background-color: white;
    cursor: pointer;
}
.delete-project:active{
    background-image: url(./asset/icons/delete.svg);
}
.edit-project:active{
    background-image: url(./asset/icons/pencil.svg);
}

.todo-card{
    height: 60px;
    border-bottom: 1px solid var(--tertiary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
}
.todo-card:first-child{
    border-top: 1px solid var(--tertiary);
}